
<ul>Player Score</ul>
<p>Player chooses <%=player%>, Computer chooses <%=computer%>. <%=choice%></p>
<p>Human: <%=player_score%></p>
<p>Computer: <%=computer_score%></p>




<h3>Choose- </h3>

<form id="condition" action="/choice" method="post">
  <input type="submit" name="choice" value="rock">
  <input type="submit" name="choice" value="paper">
  <input type="submit" name="choice" value="scissors">
</form>
